body{
    font-family: poppins;
}

.container{
    width: 70%; /* Make the container 60% of the viewport width */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add some padding inside the container */
    

}
.signin_text{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
label {
    margin-bottom: 2px; 
    display: inline-block; 
}
input{
    width: 100%;
    height: 36px;
    border: 1px ;
    border-radius: 6px;
    padding-left: 10px;
    background-color: rgb(217, 217, 217);
}
button{
    border: 1px ;
    margin-top: 10px;
    width: 100%;
    height: 36px;
    color: white;
    background-color: rgb(0, 183, 0);
    border-radius: 6px;
}
.or_{
    text-align: center;
}
.signin_options {
    display: flex;
    justify-content: space-around;
}
.dont_{
    text-align: center;
}
.logo{
   display: flex;
   justify-content: center;
   margin-top: 120px;
  
}
.checkbox {
    display: flex; /* Use flexbox to align items in a row */
    align-items: center; /* Center the items vertically */
}
.checkbox input {
    margin-right: 10px; /* Add some space between the checkbox and the label */
}
.message-box {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid red;
    background-color: #ffe6e6; /* Light red background */
    border-radius: 5px;
}
